
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Create a new booking</h1>
      <%= simple_form_for @booking do |f| %>
        <%= f.input :date, as: :date, html5: true, start_year: Date.today, end_year: Date.today.year + 1%>
        <%= f.input :start_time, as: :time, html5: true%>
        <%= f.input :end_time, as: :time, html5: true%>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>

    </div>

  </div>
</div>
